.Details--container{
  display: flex;
  width: inherit;
  height: inherit;
  /* background-color: yellow; */
  flex-direction: column;
  margin-left: 10px;
}
.Details--roomNoDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.Details--roomNo{
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
  color: black;
  box-shadow: 1px 2px 2px ;
  flex-wrap: wrap;
}
.Details--roomNo:hover{
  background-color:bisque;
  
}