.Dashboard--nav{
    display: flex;
    color: black;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: white;


}

.Dashboard--link{
    
    padding: 10px;
    color: black;
    border: 1px solid gray;
    background-color: lightgrey;
    border-radius: 3px;
    opacity: 1;
    margin: 2px;

}
.Dashboard--link:hover{
    opacity: .7;
}
.Dashboard--link:active{
    background-color: grey;
}

.Dashboard--Outlet{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}