.newRoom--form {
    font-size: large;
  }
  
  .newRoom--form table {
    table-layout: fixed;
  }
  .newRoom--form td {
    width: 35%;
    align-items: center;
    justify-content: center;
    
  }
  
  .newRoom--form input {
    width: 80px;
    padding: 10px;
    font-size: medium;
  }
  
  .newRoom--form input::placeholder {
    font-size: xx-small;
  }
  